/* search */
.search {
    margin-bottom: 20px;
}

/* item */
.item .panel-body {
    height: 70px;
}
.item .panel-heading {
    height: 250px;
}
.item .panel-heading img {
    height: 100%;
    max-width: 100%;
}
p.item-title {
    /* Keep the number of lines in a sentence on two lines, and add "..." to the end of line. */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}